<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="project" value="decoration_" />
  <property name="logPath" value="/Users/dongchao/home/worker/logs/decoration" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!--dev encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 日志文件 appender定义 -->
  <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}/${project}info.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${logPath}/history/%d{yyyy-MM,aux}/%d{yyyy-MM-dd}.${project}info.log
      </fileNamePattern>
      <maxHistory>90</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <appender name="costTimeAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}/${project}costTime.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${logPath}/history/%d{yyyy-MM,aux}/%d{yyyy-MM-dd}.${project}costTime.log
      </fileNamePattern>
      <maxHistory>30</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="otherInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}/${project}otherInfo.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${logPath}/history/%d{yyyy-MM,aux}/%d{yyyy-MM-dd}.${project}otherInfo.log
      </fileNamePattern>
      <maxHistory>90</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="sqlAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}/${project}sql.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}/history/%d{yyyy-MM,aux}/%d{yyyy-MM-dd}.${project}sql.log
      </fileNamePattern>
      <maxHistory>90</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- error日志 -->
  <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}/${project}error.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logPath}/history/%d{yyyy-MM,aux}/%d{yyyy-MM-dd}.${project}error.log
      </FileNamePattern>
      <maxHistory>90</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n</Pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <logger name="logPrefix" level="DEBUG">
    <appender-ref ref="sqlAppender" />
    <appender-ref ref="infoAppender" />
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="otherInfoAppender" />
    <appender-ref ref="errorAppender" />
  </root>
</configuration>